/*-- Color --*/
$white: #fff;
$transparent: transparent;
$text: #034a58;
$opacity: rgba(3,74,88, .8);
$blue: #35bff9;
$yellow: #f8c61e;
/*-- Font Size --*/
$standart: 24px;
$small: 18px;
$big: 40px;
/*-- Font-family --*/
$museo_bold: 'museo_sans_cyrl900';
$museo_bolder: 'museo_sans_cyrl700';
$museo_light: 'museo_sans_cyrl300';
$text_family: 'helveticaneuecyrmedium';